.navbar {
    background-color: #9d9d93;
}
.navbar a {
    cursor: pointer;
}
.collapse {
    justify-content: center;
}

input:focus,
select:focus,
select,
.btn:focus,
input.form-control:focus {
    outline: none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;
}

.navbar-collapse .btn {
    color: #f8edd1;
    border-color: #f8edd1;
}
.navbar-collapse .btn:hover {
    background-color: #f8edd1;
    color: #9d9d93;
}
.navbar-collapse .input-search {
    width: auto;
}
.navbar-collapse .input-group {
    width: 50%;
    flex-wrap: nowrap;
}
@media (max-width: 767px) {
    .navbar-collapse .input-group {
        width: 1000%;
    }
}
