<nav class="navbar navbar-expand navbar navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Post-it</a>

            <form [formGroup]="searchForm" (ngSubmit)="enviarData()" class="d-flex input-group w-auto">

                <select formControlName="filtrar_por" paceholder="Filtrar por:" class="form-control mx-2">
                    <option value="" disabled>Filtrar por:</option>
                    <option value="titulo">Título</option>
                    <option value="autor">Autor</option>
                    <option value="correo">Correo</option>
                    <option value="palabras_clave_like">Palabra Clave</option>
                </select>

                <input type="search" formControlName="palabra" class="form-control input-search"
                    placeholder="Escribe aquí" aria-label="Search" />
                <button class="btn btn-outline-light" type="submit" [disabled]="searchForm.invalid"
                    data-mdb-ripple-color="dark">
                    Buscar
                </button>
            </form>
        </div>
    </div>
</nav>